body { background: red; 
	   color: white;
	   font-size: 12pt;
	   font-family: courier	}
	  
a:link, a:visited	 { 
		color: white; }
		
h1 	{ font-size: 48pt;
	  font-weight: italic;
	  color: white}